<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>NextDeparturesIntentWatch</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.27</string>
	<key>CFBundleVersion</key>
	<string>247</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>IntentsRestrictedWhileLocked</key>
			<array/>
			<key>IntentsRestrictedWhileProtectedDataUnavailable</key>
			<array/>
			<key>IntentsSupported</key>
			<array>
				<string>ClipboardIntent</string>
				<string>GetStationIntent</string>
				<string>NextDeparturesIntent</string>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.intents-service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).IntentHandler</string>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>If you have complications installed on your Apple Watch, we subscribe for location events when you're in one of your favourite places, so that we can update your complication with the right info. Also enable in Settings "Privacy -&gt; Location Services -&gt; System Services -&gt; Frequent Locations"</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>If you have complications installed on your Apple Watch, we subscribe for location events when you're in one of your favourite places, so that we can update your complication with the right info. Also enable in Settings "Privacy -&gt; Location Services -&gt; System Services -&gt; Frequent Locations"</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string> We need the location to show you nearby stations. We’re only accessing this, when the app or the Today extension is in use and for as short as possible.</string>
</dict>
</plist>
