<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>ch.liip.timeforcoffee</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ch.liip.timeforcoffee</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>timeforcoffee</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>15</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationUsageDescription</key>
	<string>We need &quot;Always&quot; for use with a future apple device (but we will only use it, when the app is in use there, no constant tracking). For only the iPhone App and Today View &quot;While Using&quot; is enough.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need the location to show you nearby locations. If you want to use it with a future Apple device, please enable &quot;Always&quot;</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need &quot;Always&quot; for use with a future apple device (but we will only use it, when the app is in use there, no constant tracking). For only the iPhone App and Today View &quot;While Using&quot; is enough.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
